footer.footer
	.footer-menu
		.container
			.row
				.col-12.col-lg-10
					.row
						.col-12.col-sm-6.col-lg-3
							.footer-menu__title
								| Help & Info
							ul
								li
									a(href="#") Delivery
								li
									a(href="#") Returns & Refunds
								li
									a(href="#") Contact Us
								li
									a(href="#") Track your Order
								li
									a(href="#") Reglaze Service
								li
									a(href="#") Lens Price Comparison
								li
									a(href="#") A - Z Brands
								li
									a(href="#") FAQ's
						
						.col-12.col-sm-6.col-lg-3
							.footer-menu__title
								| Brands we sell
							ul
								li
									a(href="#") Noosa Amsterdam
								li
									a(href="#") Cream Clothing
								li
									a(href="#") Taschendieb
								li
									a(href="#") Hermes paris
								li
									a(href="#") D&G Fashion
						
						.col-12.col-sm-6.col-lg-3
							.footer-menu__title
								| Care & advice
							ul
								li
									a(href="#") Prescription Information
								li
									a(href="#") Lenses & Coatings
								li
									a(href="#") PD Measurement
								li
									a(href="#") Style Advice
								li
									a(href="#") Size Guide
								li
									a(href="#") Shopping Guide
						
						.col-12.col-sm-6.col-lg-3
							.footer-menu__title
								| Company
							ul
								li
									a(href="#") About Us
								li
									a(href="#") Our Store
								li
									a(href="#") Terms & Conditions
								li
									a(href="#") Privacy Policy
								li
									a(href="#") Cookies
								li
									a(href="#") Find us
				.col-12.col-lg-2
					.footer-menu__title
						| Follow us
					ul.footer-menu__social
						li
							a(href="#")
								img(src="./img/fb.jpg", alt="fb")
						li
							a(href="#")
								img(src="./img/tw.jpg", alt="tw")
						li
							a(href="#")
								img(src="./img/fl.jpg", alt="fl")

	.footer-copyright
		.container
			.row
				.col-12.col-md-4
					-
						var date = new Date()
					p= '© '+ date.getFullYear() + ' Fashion Store. All Rights Reserved.'
				.col-12.col-md-8.order-first.order-md-last
					ul
						li
							img(src="./img/pay1.jpg", alt="")
						li
							img(src="./img/pay2.jpg", alt="")
						li
							img(src="./img/pay3.jpg", alt="")
						li
							img(src="./img/pay4.jpg", alt="")
						li
							img(src="./img/pay5.jpg", alt="")
						li
							img(src="./img/pay6.jpg", alt="")
						li
							img(src="./img/pay7.jpg", alt="")
						li
							img(src="./img/pay8.jpg", alt="")