@font-face {
	font-family: 'open-sans';
	src: url('../fonts/open-sans.eot');
	src: url('../fonts/open-sans.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/open-sans.woff') format('woff'),
	     url('../fonts/open-sans.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
