.icon {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;

	&-cart {
		width: 18px;
		height: 18px;
		margin-right: 14px;
		margin-top: -3px;
		background-image: url('../img/cart.png');
	}
	&-flag {
		width: 16px;
		height: 12px;
		margin-right: 7px;
		margin-top: -3px;
		background-image: url('../img/flag.jpg');
	}
	&-search {
		width: 14px;
		height: 14px;
		background-image: url('../img/search.png');
	}
}
