.main-menu {
	position: absolute;
	width: 100%;
	top: 30px;
	left: 0;
	z-index: 2;

	@media ($small) {
		top: 10px;
	}
	@media ($phone) {
		top: 0;
	}
	.navbar {
		position: relative;
		padding: 1.25rem 1.875rem;
		padding-left: 13.3%;
		background-color: #000;
		border-radius: 5px;

		@media ($medium) {
			padding: 12px 18px;
			padding-left: 100px;
		}
		@media ($phone) {
			border-radius: 0;
		}
	}
	.navbar-logo {
		position: absolute;
		top: 0;
		left: 35px;
		width: 9.02%;

		@media ($medium) {
			width: 64px;
			left: 18px;
		}

		img {
			max-width: 100%;
		}
	}
	.navbar-brand {
		margin-right: 2.725rem;
		font-weight: bold;
		text-transform: uppercase;
	}
	.navbar-expand-lg .navbar-nav .nav-link {
		padding: 0 1.125rem;

		@media ($wide) {
			padding: 3px 0.575rem 0;
		}
		@media ($medium) {
			padding: 0.575rem 0;
		}
	}
	.form-control {
		width: 100%;
		padding: 1.375rem 1.25rem;
		padding-right: 36px;
		font-size: $fz-small;
	}
	.form-inline {
		position: relative;
		width: 35%;

		@media ($medium) {
			width: 100%;
		}
		.icon {
			position: absolute;
			top: 50%;
			right: 18px;
			transform: translateY(-50%);
			z-index: 1;
		}
	}
	.container {
		padding: 0;
	}
}