// colors
$body: #ececec;
$black: #000;
$red: #d51e08;
$white: #fff;
$gray: #9D9D9D;
$gray2: #dadada;
$blue: #358acd;

//gradients
$g-yellow: linear-gradient(70.22deg, #EEB78B 18.62%, #D79D6F 66.52%);
$g-gray: linear-gradient(134.86deg, #C5B6AA 45.49%, #E4DCD5 85.27%);

// font-size
$fz-small: .875rem;
$fz-normal: 1rem;
$fz-medium: 1.5rem;
$fz-large: 1.875rem; //font-size: 30px
$fz-big: 3rem;


// MEDIA
$wide: 'max-width: 1200px';
$medium: 'max-width: 991px';
$tablet: 'max-width: 768px';
$small: 'max-width: 720px';
$phone: 'max-width: 540px';
