// colors
$body: #ececec;
$black: #000;
$red: #d51e08;
$white: #fff;
$gray: #9D9D9D;

//gradients
$g-yellow: linear-gradient(70.22deg, #EEB78B 18.62%, #D79D6F 66.52%);
$g-gray: linear-gradient(134.86deg, #C5B6AA 45.49%, #E4DCD5 85.27%);

// font-size
$fz-small: .875rem;


// MEDIA
$wide: 'max-width: 1200px';
$medium: 'max-width: 991px';
$small: 'max-width: 720px';
$phone: 'max-width: 540px';
