@import "var";
@import "bootstrap";
@import "header";
@import "icon";
@import "section";
@import "./mainSlider/mainSlider";
@import "block/block";
@import "mainMenu";
@import "widget";
@import "sidebar";

html, body {
	background-color: $body;
	font-family: 'Open Sans', sans-serif;
	font-size: $fz-normal;
	color: $black;
	min-width: 320px;
}
main {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
}

.container {
	@media(min-width: 1230px) {
		max-width: 1230px;
	}
}

img {
	min-width: 100%;
	height: auto;
}

h3 {
	font-size: $fz-medium;
	font-weight: bold;

	@media ($medium) {
		font-size: $fz-normal;
	}
}

.btn-red {
	background-color: $red;
	color: $white;

	&:hover {
		color: $white;
		background-color: #f4341c;
	}
}

.slick-dots {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px 15px;
	margin: 0;
	list-style: none;
	font-size: 0;
	z-index: 1;
	background-color: #fff;
	border: 1px solid #cfcfcf;
	border-radius: 5px;

	li {
		display: inline-block;
		vertical-align: middle;
	}
	button {
		width: 8px;
		height: 8px;
		border: none;
		outline: none;
		background-color: #d2d2d2;
		border-radius: 50%;
		padding: 0;
		margin: 0 10px;
		transition: background-color .3s;

		&:hover {
			background-color: #a3a3a3;
		}
	}
	.slick-active button {
		background-color: #a3a3a3;
	}
}

.block	{
	background-color: #eee;
	border: 1px solid $gray;
}