@import "var";
@import "bootstrap";
@import "header";
@import "icon";
@import "section";
@import "./mainSlider/mainSlider";
@import "mainMenu";
@import "widget";
@import "./sidebar/sidebar";
@import "content";
@import "product-card";
@import "subscribe";
@import "./brandSlider/brandSlider";
@import "slick";

html, body {
	background-color: $body;
	font-family: 'Open Sans', sans-serif;
	font-size: $fz-normal;
	color: $black;
	min-width: 320px;
}
main {
	width: 100%;
}

.container {
	@media(min-width: 1230px) {
		max-width: 1230px;
	}
}

img {
	min-width: 100%;
	max-width: 100%;
	height: auto;
}

h3 {
	font-size: $fz-medium;
	font-weight: bold;

	@media ($medium) {
		font-size: $fz-normal;
	}
}

.btn-red {
	background-color: $red;
	color: $white;

	&:hover {
		color: $white;
		background-color: #f4341c;
	}
}

.block	{
	background-color: #eee;
	border: 1px solid $gray;
}