extends ./tpl/layout

block page
	section.section.section_main
		.main-slider.js-main-slider
			each val, index in ['zero', 'one', 'two', 'three']
				.main-slider__item
					.main-slider__bg(style="background-image: url(/img/slider.jpg)")
					.main-slider__wrapper
						.main-slider__content
							.container
								.row
									.col-10.col-sm-7.text-center
										.main-slider__title= 'Women\'s Apparel ' + val
										.main-slider__subtitle
											| T-Shirts, Dress Shirts, Tanks, Pants and More...
										a(href="#").btn.btn-red
											| Shop Women’s Apparel
		
		.main-menu
			.container
				nav.navbar.navbar-expand-lg.navbar-dark
					.navbar-logo
						img(src="./img/logo.png", alt="")
					a.navbar-brand(href='#') Styletour
					button.navbar-toggler(type='button', data-toggle='collapse', data-target='#main-menu', aria-controls='main-menu', aria-expanded='false', aria-label='Toggle navigation')
						span.navbar-toggler-icon
					#main-menu.collapse.navbar-collapse
						ul.navbar-nav.mr-auto
							li.nav-item
								a.nav-link(href='#') Shop
							li.nav-item
								a.nav-link(href='#') Men
							li.nav-item
								a.nav-link(href='#') Women
							li.nav-item
								a.nav-link(href='#') Kids
							li.nav-item
								a.nav-link(href='#') Accessories
							li.nav-item
								a.nav-link(href='#') Sale
						form.form-inline.my-2.my-lg-0
							input.form-control(type='search', placeholder='Search', aria-label='Search')
							span.icon.icon-search
	
	.container
		.row
			.col-4.col-lg-2.col-md-3.col-sm-6.block
				.d-none.d-lg-block col-lg-2
				.d-none.d-md-block.d-lg-none col-md-3
				.d-none.d-sm-block.d-md-none col-sm-6
				.d-block.d-sm-none col-xs-4
			.col-4.col-lg-8.col-md-6.col-sm-6.block
				.d-none.d-lg-block col-lg-8
				.d-none.d-md-block.d-lg-none col-md-6
				.d-none.d-sm-block.d-md-none col-sm-6
				.d-block.d-sm-none col-xs-4
			.col-4.col-lg-2.col-md-3.d-sm-none.d-md-block.block
				.d-none.d-lg-block col-lg-2
				.d-none.d-md-block.d-lg-none col-md-3
				.d-none.d-sm-block.d-md-none col-sm-6
				.d-block.d-sm-none col-xs-4

