extends ./tpl/layout

block page
	.container
		.row
			.col-lg-2.col-md-3.col-sm-6.col-xs-4.block
				.visible-lg col-lg-2
				.visible-md col-md-3
				.visible-sm col-sm-6
				.visible-xs col-xs-4
			.col-lg-8.col-md-6.col-sm-6.col-xs-4.block
				.visible-lg col-lg-8
				.visible-md col-md-6
				.visible-sm col-sm-6
				.visible-xs col-xs-4
			.col-lg-2.col-md-3.hidden-sm.col-xs-4.block
				.visible-lg col-lg-2
				.visible-md col-md-3
				.visible-xs col-xs-4

